<div class="container">
  <div class="row valign-wrapper">
    <div class="">
      <a class="btn amber valign" href="/stores/<%= @store.id() %>/edit">Edit <%=  @store.name() %></a>
    </div>
  </div>

  <h1 class="teal-text darken-2 valign"><%= @store.name() %></h1>
  <div class="row">
    <% if @store.brands.any?() %>
      <% @store.brands.each() do |brand| %>
        <div class="col s4">
          <div class="card grey lighten-4 hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="<%= url('img/salomon.jpeg') %>" alt="A flashy shoe" />
              <span class="card-title activator"></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">
                <a href="/brands/<%= brand.id() %>"><%= brand.name() %></a>
                <i class="material-icons right">close</i>
              </span>
              <hr>
              <br>
              <div class="row">
                <div class="col s6">
                </div>
              </div>
            </div>
            <div class="card-action valign-wrapper">
              <h5><%= brand.name() %></h5>

            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h4>You do not have any brands. <i class="material-icons">thumb_down</i></h4>
    <% end %>
  </div>

  <% @brands.each() do |brand| %>
    <% if @store.brands().include?(brand) == false %>
    <form class="" action="/stores/<%= @store.id() %>/brands" method="post">
      <input type="hidden" name="_method" value="patch">
      <input type="checkbox" name="<%= brand.id() %>" id="<%= brand.id() %>" value="<%= brand.id() %>">
      <label for="<%= brand.id() %>"></label>
      <button class="btn small" type="submit">Add <%= brand.name() %></button>
    <% end %>
  <% end %>
</div>
